{% extends "catalog/base.html" %}

{% block context %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-title">
                <h2>Авторизация</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                    Войти
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}