{% extends "catalog/base.html" %} {# Расширяем содержимое базовым классом #}
{% block catalog %}
{% load static %}
{% load get_path_for_media %}
<div class="row">
    {% for product in catalog_key %}
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image_preview|get_image_path:'/static/apology.webp' }}" class="card-img-top" alt="product" width="200" height=200>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|slice:":100" }}...</p>
                <div class="row">
                    <div class="col-auto">
                        <a href="{{ project_name }}/{{ product.id }}" class="btn btn-primary">Подробнее...</a>
                    </div>
                    <div class="col-auto center">
                        <p class="text-dark-end m-1">{{ product.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

