{% extends "catalog/base.html" %} {# Расширяем содержимое базовым классом #}
{% block catalog %}
{% load static %}
<div class="row">
    {% for product in catalog_key %}
    {% if product.image_preview %}
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="/media/{{ product.image_preview }}" class="card-img-top" alt="product" width="200" height=200>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <div class="row">
                    <div class="col-auto">
                        <a href="{{ project_name }}/{{ product.id }}" class="btn btn-primary">Подробнее...</a>
                    </div>
                    <div class="col-auto center">
                        <p class="text-dark-end m-1">{{ product.price }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% else %}
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'apology.webp' %}" class="card-img-top" alt="apology">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <div class="row">
                    <div class="col-auto">
                        <a href="{{ project_name }}/{{ product.id }}" class="btn btn-primary">Подробнее...</a>
                    </div>
                    <div class="col-auto center">
                        <p class="text-dark-end m-1">{{ product.price }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

